<div class="products-container">
  <app-navbar></app-navbar>
  <div class="products-main">
    <div class="searchbar">
      <input class="searchinput" placeholder="Busca Productos" type="text">
      <button class="searchbutton"><i class="fa-solid fa-magnifying-glass fa-lg"
          style="color: var(--grey-dark);"></i></button>
    </div>
    <div class="dropdown">
      <button class="dropdown-btn">Filtrar Por:<span>&#9662;</span></button>
      <div class="dropdown-content">
        <a href="#">Proteinas</a>
        <a href="#">Frutas</a>
        <a href="#">Verduras</a>
        <a href="#">Vegetariano</a>
      </div>
    </div>
    <div class="products-list"  *ngFor="let product of allProducts">
      <div class="product-card">
        <div class="product-card-left">
          <label for="ingredientCheckbox"></label>
          <input type="checkbox" id="ingredientCheckbox" name="ingredient" />
          <img [src]=product.imageurl alt="">
          <h3>{{product.name}}</h3>
        </div>
        <div class="product-card-right">
          <div class="switch-container">
            <input (change)="cambiaso()" type="checkbox" [id]=product._id class="toggle-switch">
            <label for="toggle-switch" class="switch-label">
              <span class="slider"></span>
            </label>
          </div>

          <button class="recipes-button">Recetas</button>
          <button class="info-button">Informacion</button>
        </div>
      </div>    
      
    </div>
  </div>
</div>