<div class="register-sidebar">
  <div class="logo">
    <a href="">Frodge</a>
  </div>
  <form (ngSubmit)="registerUser()" class="register-primary">
    <input [(ngModel)]="email" class="email-input" placeholder="Correo Electrónico" type="email" name="email">
    <input [(ngModel)]="password" class="password-input" placeholder="Contraseña" type="password" name="password">
    <button class="register-button" type="submit">Crear cuenta</button>
    <a class="login-button" routerLink="/auth/login">Ya tengo una cuenta</a>
  </form>
</div>