<div class="recipes-container">
  <app-navbar></app-navbar>
  <div class="recipes-main">
    <div class="searchbar">
      <input class="searchinput" placeholder="Busca Recetas" type="text">
      <button class="searchbutton"><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #27a69e;"></i></button>
    </div>
    <div class="dropdown">
      <button class="dropdown-btn">Filtrar Por:<span>&#9662;</span></button>
      <div class="dropdown-content">
        <a href="#">Desayuno</a>
        <a href="#">Almuerzo</a>
        <a href="#">Cena</a>
        <a href="#">Vegetariano</a>
      </div>
    </div>
    <div class="recipes-grid">
      <div class="recipe-card">
          <img src="https://www.lavanguardia.com/uploads/2018/09/26/5e99833ed5c67.jpeg" alt="">
          <h3>ProductName</h3>
          <button class="view-button">Ver Receta</button>
      </div>
    </div>
  </div>
</div>