<link rel="stylesheet" href="landing.component.css">

<div>
    <h2>Arma tu despensa</h2>
    <p>No desperdicies mas comida! con frodge agrega productos a tu despensa <br>para que sepas que ingredientes tienes sin tener que abrir tu nevera</p>
</div>
    
<div>
    <h2>Almacena tus productos</h2>
    <p>obten informacion sobre cada producto para que sepas como almacenar tus <br> ingredientes para que se conserven mejor,tambien puedes obtener informacion <br>nutricional</p>
</div>

<div>
    <h2>Prueba nuestras recetas</h2>
    <p>¡Quieres usar tu espinaca para que no se dañe? Selecciona uno o varios <br>
    ingredientes y obten recetas con lo que tienes en casa!</p>
</div>