<div class="login-sidebar">
  <div class="logo">
    <a href="">Frodge</a>
  </div>
  <div class="login-primary">
    <input class="email-input" placeholder="Correo Electrónico" type="email">
    <input class="password-input" placeholder="Contraseña" type="password">
    <a class="login-button" href="">Iniciar Sesión</a>
  </div>
  <div class="login-secondary">
    <a class="recovery-button" href="">Olvidaste tu contraseña?</a>
    <a class="signup-button" href="">Crear cuenta</a>
  </div>
</div>