<div id="Form">
    <!-- Formulario -->
    <form class="form-title">
        <h2>Crear nueva receta:</h2>
        <!-- Contenedor del Formulario -->
        <div class="create-product">

            <input class="form-one" type="text" name="Nombre" placeholder="Nombre">

            <input class="form-one" type="text" name="URl" placeholder="URL de imagen">

            <input class="form-one" type="text" name="Ingredientes" placeholder="Ingredientes">

            <input class="form-two" type="text" name="Preparacion" placeholder="Preparacion">

            <input class="form-one" type="text" name="Categoria" placeholder="Categoria">
            <div class="checkbox-vegetarian">
                <p>Vegetariano</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>


            <br>

            <input type="submit" value="Registrar en base de datos" class="Registrar_action">
        </div>
    </form>
</div>