<app-navbar></app-navbar>

<div id="create-recipe"> 

    <form  class="create-recipe" (ngSubmit)="onSubmit()">
        <h2>Crear nueva receta</h2>
        
        <div class="create-recipe_form">
            
            <input class="form-one"   type="text" [(ngModel)]="recipe.name" name="Nombre" placeholder="Nombre">
            <input class="form-one"  type="text"  [(ngModel)]="recipe.imageurl" name="URL" placeholder="URL de imagen">
            <input class="form-one"  type="text"  [(ngModel)]="recipe.ingredients" name="Ingredientes" placeholder="Ingredientes">
            <input class="form-two"  type="text"  [(ngModel)]="recipe.preparation" name="Preparacion" placeholder="Preparacion">
            <input class="form-one"  type="text"  [(ngModel)]="recipe.category" name="Categoria" placeholder="Categoria">

            <div class="checkbox-vegetarian">
            <p>Vegetariano</p>
                <label class="switch">
                    <input type="checkbox" name="vegetarian" [(ngModel)]="recipe.vegetarian">
                    <span class="slider"></span>
                </label>
            </div>


            <br>

            <input type="submit" value="Registrar en base de datos" class="Registrar_action">
        </div>

    </form>
</div>