/* You can add global styles to this file, and also import other style files */
/* Uso de fuentes en CSS
Space Grotesk:
font-family: "Space Grotesk", system-ui;
Poppins:
font-family: "Poppins", sans-serif;
Playwrite:
font-family: "Playwrite US Trad", cursive; */